---
- name: remove apt version of go
  apt:
    name: [golang, golang-go]
    state: absent
    purge: yes
  become: true
  tags: gotools

- name: check installed go version
  command: /usr/local/go/bin/go version
  register: go_check
  failed_when: false
  changed_when: false
  tags: gotools

- name: install go
  when: go_check.rc != 0 or go_version not in go_check.stdout
  block:
    - name: download and extract go
      unarchive:
        src: "{{ go_download_url }}"
        dest: /usr/local
        remote_src: yes
      become: true

    - name: symlink go binaries
      file:
        src: "/usr/local/go/bin/{{ item }}"
        dest: "/usr/local/bin/{{ item }}"
        state: link
      become: true
      loop: [go, gofmt]
  tags: gotools

# - name: read go tools list
#   slurp:
#     src: "{{ role_path }}/files/binaries.txt"
#   register: binaries_file
#   when: install_tools | default(false)
#   tags: gotools

# - name: install go tools
#   shell: |
#     export GOPATH=$HOME/go
#     binary_name="$(basename "{{ item }}")"
#     if ! command -v "$binary_name" &>/dev/null; then
#       go install "{{ item }}"
#       echo "installed"
#     fi
#   loop: "{{ (binaries_file.content | b64decode).split('\n') | reject('match', '^\\s*
# ) | list }}"
#   register: tool_install
#   changed_when: "'installed' in tool_install.stdout"
#   when: install_tools | default(false)
#   tags: gotools