---
- name: copy dotfile files
  copy:
    src: "{{ playbook_dir }}/dotfiles/{{ item.src }}"
    dest: "{{ ansible_env.HOME }}/{{ item.dest }}"
    mode: preserve
  loop: "{{ dotfile_mappings }}"
  when: item.type == "file"
  tags: dotfiles

- name: copy dotfile directories
  synchronize:
    src: "{{ playbook_dir }}/dotfiles/{{ item.src }}/"
    dest: "{{ ansible_env.HOME }}/{{ item.dest }}/"
    delete: true
    recursive: true
  loop: "{{ dotfile_mappings }}"
  when: item.type == "directory"
  tags: dotfiles