---
- name: Set window button layout (close/minimize on right)
  dconf:
    key: /org/mate/marco/general/button-layout
    value: "'{{ window_button_layout }}'"
    state: present
  tags: mate

- name: Set system font to Roboto
  dconf:
    key: /org/mate/desktop/interface/font-name
    value: "'{{ system_font }}'"
    state: present
  tags: mate

- name: Set monospace font to JetBrains Mono
  dconf:
    key: /org/mate/desktop/interface/monospace-font-name
    value: "'{{ monospace_font }}'"
    state: present
  tags: mate

- name: Set document font to Roboto
  dconf:
    key: /org/mate/desktop/interface/document-font-name
    value: "'{{ document_font }}'"
    state: present
  tags: mate

- name: Set desktop font to Roboto
  dconf:
    key: /org/mate/caja/desktop/font
    value: "'{{ desktop_font }}'"
    state: present
  tags: mate

- name: show hidden files in caja
  dconf:
    key: /org/mate/caja/preferences/show-hidden-files
    value: "true"
    state: present
  tags: mate

- name: Set terminal font to JetBrains Mono
  dconf:
    key: /org/mate/terminal/profiles/default/font
    value: "'{{ monospace_font }}'"
    state: present
  tags: mate

- name: Enable custom terminal font
  dconf:
    key: /org/mate/terminal/profiles/default/use-system-font
    value: "false"
    state: present
  tags: mate

- name: Set GTK theme
  dconf:
    key: /org/mate/desktop/interface/gtk-theme
    value: "'{{ gtk_theme }}'"
    state: present
  tags: mate

- name: Load MATE Terminal dconf settings
  ansible.builtin.shell: >
    dconf load /org/mate/terminal/ < {{ playbook_dir }}/roles/mate-config/files/mate-terminal-settings.dconf
  tags: mate