# wireshark configuration
---
- name: Install Wireshark package
  apt:
    name: wireshark
    state: present
  become: true

- name: Ensure Wireshark config directory exists
  file:
    path: "{{ ansible_env.HOME }}/.config/wireshark"
    state: directory
    mode: '0755'

- name: Ensure dumpcap is executable
  ansible.builtin.file:
    path: /usr/bin/dumpcap
    mode: '0755'
    state: file
  become: true

- name: Ensure preferences file exists
  file:
    path: "{{ ansible_env.HOME }}/.config/wireshark/preferences"
    state: touch
    mode: '0644'

- name: Set Wireshark font in global preferences
  lineinfile:
    path: "{{ ansible_env.HOME }}/.config/wireshark/preferences"
    regexp: '^gui\.qt\.font_name:'
    line: 'gui.qt.font_name: JetBrainsMonoNL Nerd Font Propo,12,-1,5,50,0,0,0,0,0'
    create: true
